/node_modules
/public/hot
/public/storage
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
.rocketeer/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
.env.*.php
.env.php
.env
