$container-width: 1200px;

$top-menu-height: 45px;

$preview-height: 215px;

.clear-fix {
  clear: both;
}
.channel-logo {
  position: absolute;
  z-index: 100;
  width: 20%;
  top: 10px;
  left: 10px;
}
.blue-cover {
  z-index: 10;
  left: 0;
  top: 0;
  height: 100%;
}
.poster {
  height: 100%;
  width: 100%;
  display: block;
  background-size: cover;
}
.mip-logo {
  width: 20%;
  position: absolute;
  top: 13%;
  left: 5%;
  z-index: 11;
}

.main-container {

  max-width: $container-width;
  margin:auto;

  .w-100 {
    width: 80% !important;
  }

  .carousel-indicators {
    right: 0;
    bottom: 10px;
    margin-right: 4%;
    list-style: none;
    left: initial;
  }

  .carousel-indicators li {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-left: 5px;
    border-radius: 10px;
  }

  .carousel-indicators .active {
    background-color: #a0d216;
  }

  .carousel {
    margin-bottom: 15px;
  }

  a.carousel-control-next, a.carousel-control-prev {
    display: none;
  }

  a.carousel-control-next, a.carousel-control-prev {
    display: none;
  }

  .carousel.fade{
    opacity: 1;
  }
  .carousel.fade .carousel-item{
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 1s;
  }
  .carousel.fade .carousel-item.active{
    position: relative;
    opacity: 1;
  }

  .container {
    width: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    max-width: unset;
  }
  .poster-content {
    font-family: PT Sans, sans-serif;
    font-size: 1.8vw;
    color: #fff;
    position: absolute;
    bottom: 10%;
    left: 9%;
  }
  .poster-titles {
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;

    div:first-child {
      font-weight: bold;
      padding-right: 70px;
      border-bottom: 3px solid #fff;
      box-sizing: border-box;
    }
  }
  .poster-arrow {
    vertical-align: middle;
    padding-left: 8px;
    font-size: 4vw;
    font-weight: bold;
    display: inline-block;
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
  }

  .top-bar {
    background-color: #fff;
    height: $top-menu-height;

    .top-menu {
      width: calc(100% - 280px);
      padding-left: 15px;
      display: inline-block;
      color: #3096D4;
      box-sizing: border-box;
      height: $top-menu-height;
      line-height: $top-menu-height;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;

      > a {
        display: inline-block;
        padding: 0 10px;
        transition: all 0.2s;
        cursor: pointer;
        color:#0086ca;
        text-decoration: none;
      }
      > a:hover {
        background-color: #008bcc;
        color: #fff;
      }
    }

    .search-box {
      height: $top-menu-height;
      float: right;
      width: 266px;
      box-sizing: border-box;
      padding-right: $top-menu-height*2;
      position: relative;

      input {
        height: 100%;
        width: 176px;
        outline: none;
        border: none;
        background: #EAEDEC;
        padding: 0 15px;
      }

      input::-webkit-input-placeholder {
        text-align: center;
        color:white
      }
      > input:-moz-placeholder {
        text-align: center;
        color:white
      }
      > input::-moz-placeholder {
        text-align: center;
        color:white
      }
      > input:-ms-input-placeholder {
        text-align: center;
        color:white
      }

      .search-buttons {
        cursor:pointer;
        height: $top-menu-height;
        position: absolute;
        top:0;
        right: 0;

        .search-date {
          position: absolute;
          user-select: none;
          display: none;
          z-index: 200;
          right: 0px;
          width: 264px;
          height: auto;
          background-color: #F5F6F5;
          border: 1px solid #d7d7d7;
          //border-right: 5px solid #a0d216;
          border-top: none;
          cursor:initial;
          box-sizing: content-box;
        }

        .luppa, .calendar {
          vertical-align: top;
          text-align: center;
          line-height: 45px;
          height: 100%;
          width: $top-menu-height;
          display: inline-block;
          transition: all 0.2s;
          background-position: center;
          background-repeat: no-repeat;
        }

        .luppa {
          background-color: #3196d5;
          background-image: url("/images/lupa.png");
        }

        .luppa:hover {
          background-color: #36a6ec;
        }

        .calendar {
          background-color: #ADD038;
          background-image: url("/images/cubes.png");
        }

        .calendar:hover {
          background-color: #abde17;
        }

        .calendar.toggled {
          background-image: url("/images/close.png");
          background-color: #eaedec !important
        }

        #submit {
          background-color: #3296d6;
          color: #fff;
          font-size: 15px;
          text-transform: uppercase;
          cursor: pointer;
          padding: 10px;
          text-align: center;
        }

        #submit:hover {
          background-color: #36a6ec;
        }

        input[type=checkbox] {
          height: 18px;
          width: 18px;
          vertical-align: middle;
        }

        .countries {

          text-align: left;
          padding-left: 18px;

          ul {
            margin: 10px 0;
            list-style: none;
            padding: 0;
          }
          li {
            height: 30px;
            line-height: 30px;
          }
          label {
            cursor:pointer;
          }
        }

        .datepicker-inline .datepicker {
          border: none;
          background-color: #F5F6F5;
          margin: auto;
        }

        .datepicker--cell.-selected-, .datepicker--cell.-selected-.-current- {
          background: #a0d216;
          border-radius: 0;
        }
        .datepicker--days-names {
          margin: 0;
        }
      }

    }

  }

}
.day-divider {
  margin: 5px 0;
  text-align: left;

  div {
    display: inline-block;
    padding: 0px 10px;
    color: #fff;
    font-size: 21px;
    font-weight: bold;
    background-color: #CCCDCC;
  }

  div.new-video {
    background: none;
    color: #808080;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: initial;
    margin-left: 17px;
  }

  div:first-child {
    padding-left: 50px;
    background-color: #3096D4;
  }
}

.show-more {
  padding: 0;
  margin: 10px 0;
  text-align: center;
  cursor: pointer;
  color: #fff;
  font-size: 21px;
  font-weight: bold;
  background-color: #3096D4;
  text-transform: uppercase;
  transition: all 0.2s;
}
.show-more:hover {
  background-color: #36a6ec;
}

.col {
  position: relative;
  margin: 15px;
  padding: 0;
  background-color: #fff;
  border: 1px solid #e9ebec;

  .preview {

    position: relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe {
      overflow: hidden;
      position: absolute;
      height: calc(100% + 4px);
      top: -2px;
    }
  }

  .icons {
    height: 33px;
    background-color: #ffffff;
    line-height: 33px;
    text-align: center;
  }
  span.age-restriction {
    font-family: Impact, monospace;
    font-size: 25px;
    font-weight: bold;
    color: #9e9e9e;
  }

  .description {
    display: block;
    color:#000;
    text-decoration: none;
    padding: 10px 20px;
    padding-bottom: 50px;
    background-color: #fff;
    transition: color 0.2s;

    div:first-child {
      font-weight: bold;
      font-size: 17px;
      line-height: 25px;
    }
  }

  .description:hover {
    color:#32688a;
  }
  .pub-date, .pub-geo {
    color: #9e9e9e;
  }
  .pub-date {
    position: absolute;
    left: 30px;
    bottom: 10px;
  }
  .pub-geo {
    position: absolute;
    right: 30px;
    bottom: 10px;
  }
  .country-mini {
    width: 22px;
    height: 12px;
    background-size: cover;
    vertical-align: middle;
    display: inline-block;
  }

}
.container.ch {
  margin-bottom: 10px;
}
.ch.col {
  min-height: 170px;
}
.col.lc {
  min-height: 100px;
}
.ch-mip.col {
  border: none;
  background-color: #E8E9E8;
  position: relative;
}
.channel-logo-big {
  width: 100%;
  min-height: 170px;
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
}
.ch-mip.col .channel-logo-big {
  background-image: url(/images/mip-ch.png);
  height: 100%;
}
.country {
  width: 44px;
  height: 24px;
  position: absolute;
  background-size: cover;
  top: 15px;
  left: 15px;
}
.advert {

  white-space: nowrap;
  color: #000;
  text-decoration: none;

  div {
    display: inline-block;
  }
  div:first-child {
    white-space: initial;
    width: 80%;
    padding: 5px 15px;
    box-sizing: border-box;
    vertical-align: middle;
  }
}
.ch-arrow {
  width: 35px;
  height: 25px;
  background-image: url(/images/arrow-grey.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
.ch-mip .advert {
  position: absolute;
  bottom: 0;
}
.ch-mip.col .ch-arrow {
  background-image: url(/images/arrow-white.png);
}
footer {
  width: 100%;
  background-color: #0086ca;
  background-image: url(/images/bubbles.png);
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;

  .logo {
    background-image: url(/images/mip-ch.png);
    width: 110px;
    height: 74px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left:0;
    margin: auto;
  }

  .col {
    background: none;
    position: relative;
    border: none;
    font-size: 13px;
    line-height: 16px;
    color: #fff;
  }

  .row {
    margin-right: 0;
    margin-left: 0;
  }
}
@media (max-width: 800px) {
  .top-menu {
    font-size: 12px;
  }
  .col .info .pub-geo, .col .info .pub-date {
    float: initial;
  }
}
@media (max-width: 700px) {
  .col .description {
    font-size: 12px;
  }
  .col .description div:first-child {
    font-size: 14px;
  }
}
@media (max-width: 620px) {
  .col {
    flex-basis: initial;
    margin-bottom: 15px;
  }
  .col .description {
    font-size: 16px;
  }
  .col .description div:first-child {
    font-size: 20px;
  }
  .col .info .pub-geo, .col .info .pub-date {
    float: left;
  }
  .col .info .pub-geo, .col .info .pub-geo {
    float: right;
  }
}
@media (max-width: 600px) {

}